<div class="ui-g-12 ui-md-4 ui-md-offset-4" style="margin-top: 100px;">
  <p-panel header="Login">
    <form [formGroup]="loginForm" (ngSubmit)="login()" >
      <span class="ui-float-label">
        <input
          id="username-field"
          type="text"
          placeholder="Username"
          pInputText
          class="login-form-input"
          formControlName="username"
          (keyup.enter)="login()" />
      </span>
      <span class="ui-float-label">
        <input
          id="password-field"
          type="password"
          placeholder="Password"
          class="login-form-input"
          pInputText
          formControlName="password"
          (keyup.enter)="login()" />
      </span>
      <button
        pButton
        type="button"
        class="login-form-input"
        label="Login"
        (click)="onClick()"></button>
    </form>
  </p-panel>
</div>


