.header-margin {
  margin: -10px -10px 0 -10px;
  overflow: hidden;
}

h2, h4{
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #545454;
}

.width100 {
  width: 100%;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

button {
    width: auto !important;
}

.button-margin {
  width: 50%;
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Choose File';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  margin-top: 5px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#success-message {
  margin-bottom: 1px;
  margin-left: 69%;
  position: relative;
  bottom: 0;
}


